<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Textfields App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1EB61B2F1C43512C000AEDC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1EB61B431C43512C000AEDC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1EB61B4E1C43512C000AEDC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
